<div class="page-loader-wrapper">
    <div class="loader">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <p>Lütfen bekleyin...</p>
        <div class="m-t-30"><img src="/html/assets/images/logo.svg" width="48" height="48" alt="Nexa"></div>
    </div>
</div>
