<!doctype html>
<html class="no-js " lang="tr">
@await Component.InvokeAsync("_LayoutHeadComponentPartial")
<body class="theme-orange">
    @await Component.InvokeAsync("_LayoutPageLoaderComponentPartial")
    @await Component.InvokeAsync("_LayoutSearchComponentPartial")
    @await Component.InvokeAsync("_LayoutNavbarComponentPartial")
    @RenderBody()
    @await Component.InvokeAsync("_LayoutLeftSidebarComponentPartial")
    @await Component.InvokeAsync("_LayoutRightSidebarComponentPartial")
    @await Component.InvokeAsync("_LayoutScriptComponentPartial")
</body>
</html>