<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Duyarlı Bootstrap 4 ve web uygulaması arayüz kiti.">

    <title>:: Nexa :: Boş Sayfa</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/html/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/html/assets/css/main.css">
    <link rel="stylesheet" href="/html/assets/css/color_skins.css">
</head>